@{
  Layout = "_Layout";
}

@model Template.Models.Child

<h2>Are you sure you want to delete this child?</h2>

@Html.DisplayNameFor(model => model.ChildName): @Html.DisplayFor(model => model.ChildName)

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")