@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h4>Edit a Flavor</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)
  
    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>